body{
	font: 12px arial;
	
 }

header{
	padding-top: 15px;
	overflow: hidden;
	font: 13px arial;
}

header nav{
	width: 450px;
	float: right;
}

header nav a{
	margin-left: 13px;
}
/*主体部分*/

.content{
	padding-top: 150px;
}
.content{
	text-align: center;
}

.content input{
	width: 450px;
	height: 34px
}

.content button{
	width: 100px;
	height: 40px;
}
.content img{
	width: 270px;
	height:129px;
}

/*底部信息*/

footer{
	padding-top: 500px;
}
footer p{
	text-align: center;
}

footer img{
	width: 17px;
	height: 14px;
}

